@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family:'reboto', sans-serif;
}
header{
    background-color: #222222;
    width: 1027px;
    height: 110px;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.25)
}
header img{
    margin-left: 10px;
}
.empresa {
    align-self: center;
    justify-self: flex-end;
}
.empresa ul {
    color: #f3f3f3;
    display: flex;
    justify-self:flex-end;
}  
li{
    padding: 10px;
}
main {
    margin: 3px;
    padding: 35px 20px;
    width: 1024px;
    display: flex;
    justify-content: space-between;
    background-color: #E5E5E5;
    
}
.cajadelivery {
    box-sizing: border-box;
    background-image: url(../images/delivery.jpg);
    width: 490px;
    height: 350px;
    border-radius: 10px;
    font-size: 16px;
    color: white;
    font-size: 700;
    position: relative;
}
.envio {
    position: absolute;
    top: 20px;
    left: 20px;
}
.envio .textorojo {
    color: #FC200C;
}
.podio{
    width: 490px;
    height: 350px;
    border-radius: 10px;
    background-color: #FFFFFF;
    padding: 20px;
    position: relative;
}
.fila{
    align-items: center;
    display: flex;
    padding: 30px;
}
.columna {
    align-items: center;
    width: 50%;
    font-weight: 700;
    font-size: 16px;
}
.columna img{
    padding: 60px;
}
.podio h2 {
    text-align: center;
    font-weight: 700;
    font-size: 24px;
    color: #FC200C;
}
.columna h4{
    font-size: 20px;
    color: black;
    font-weight: 700;
    padding: 20px;
}
footer{
    background-color:#222222;
    width: 1027px;
    height: 150px;
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: 10px;
}
.dempresa ul{
    display: flex;
    flex-direction: column;
    color: #f3f3f3;
    order: -1;
}
.logo{
    display: flex;
    width: 230;
    height: 80px;
    margin-right: 10px;
}
